<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gráficos
    </ion-title>
  </ion-toolbar>
  <ion-segment [value]="tipoDeChartSeleccionado" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="bar-chart">
      Bar Chart
   </ion-segment-button>
   <ion-segment-button value="line-chart">
     Line Chart
   </ion-segment-button>
   <ion-segment-button value="pie-chart">
     Pie Chart
   </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenido para el segmento de Bar Chart -->
  <div *ngIf="tipoDeChartSeleccionado === 'bar-chart'">
    <app-bar-chart></app-bar-chart>
  </div>

  <!-- Contenido para el segmento de Line Chart -->
  <div *ngIf="tipoDeChartSeleccionado === 'line-chart'">
    <app-line-chart></app-line-chart>
  </div>

  <!-- Contenido para el segmento de Pie Chart -->
  <div *ngIf="tipoDeChartSeleccionado === 'pie-chart'">
    <app-pie-chart></app-pie-chart>
  </div>
</ion-content>
